<div class="div-body">
    
    <div class="title">
        <h1>Rick et Morty</h1>
    </div>
    
    
    <div class="liste">
        @for (character of listeName; track character) {
            <a class="box-character" routerLink="character/{{character.results?.id}}">
                {{ character.results?.name }}
                <img class ="img-character" src="{{ character.results?.image }}" alt="">

            </a>
        
        
        
          } @empty {
            <li> Il n'y a pas de personnages </li>
          }
    </div>

</div>




